---
services:
  searchnos:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: searchnos
    environment:
      - PORT=3000
      - PUBLIC_RELAY_URL=${PUBLIC_RELAY_URL}
      - SRC_RELAYS=${SRC_RELAYS}
      - FETCH_KINDS=${FETCH_KINDS}
      - SEARCHNOS_DB_PATH=/data
      - SEARCHNOS_DB_BATCH_SIZE=${SEARCHNOS_DB_BATCH_SIZE:-4096}
      - SEARCHNOS_DB_FLUSH_INTERVAL_MS=${SEARCHNOS_DB_FLUSH_INTERVAL_MS:-100}
      - SEARCHNOS_DB_PURGE=${SEARCHNOS_DB_PURGE:-90d,0:1y,40:1y,41:1y,30023:1y}
    restart: always
    ports:
      - 3000:3000
    volumes:
      - searchnos-db-data:/data

volumes:
  searchnos-db-data:
    driver: local
